.app-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #1c345a;
  margin-top: 10px;
}

.app-list-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  padding: 5px;
  min-height: 70px;
}

.app-list-card ion-row {
  justify-content: space-between;
}

.app-list-card ion-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  font-weight: 300;
  color: #203456;
}

.app-list-card ion-label {
  font-size: 16px;
  color: #203456;
}

.app-list-card-status {
  font-size: 16px !important;
  color: #00aeef !important;
}

.app-list-card-status span {
  font-size: 16px;
  color: #ffb300;
}

.intake-modal {
  --border-radius: 25px 25px 0px 0px;
  --height: auto;
}

.intake-modal .ion-page {
  background: #ffffff;
}

.intake-modal-title {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.intake-modal-title ion-title {
  font-size: 30px;
  font-weight: bold;
  color: #1c345a;
}

.intake-modal-title ion-text {
  font-size: 16px;
  color: #1c345a;
  width: 60%;
}

.intake-date {
  border-radius: 15px;
}

.intake-date h2 {
  font-size: 20px;
  color: #1c345a;
}

.intake-checkbox {
  margin-top: 20px;
  margin-left: 10px;
  flex-wrap: nowrap;
  padding-bottom: 50px;
}

.intake-checkbox ion-label {
  margin-left: 10px;
}