.arabic-lang-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #1C345A;
    padding: 15% 15% 0% 15%;
    text-align: center;
}

.img-rocket {
    margin: 20% 10% 0% 10%;
}

.img-arabic-letter {
    margin: 0% 15%;
}

ion-button {
    margin: 5% 15%;
    color: #1C345A;
    background-color: white;
    border-radius: 10px;
    padding: 5px 0px;
    font-size: 20px;
}

.arabic-lang-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
}

.arabic-lang-bottom ion-label {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.arabic-lang-bottom ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: 30px !important;
    --inner-border-width: 0 0 0px 0;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.arabic-lang-bottom ion-select {
    opacity: 1 !important;
    min-height: 30px !important;
    background-color: #1C345A;
    color: #ffffff;
    /* border: 1px solid #ffffff;
    border-radius: 6px; */
    /* width: 100%;
    justify-content: center; */
}

/* 
ion-select::part(placeholder),
ion-select::part(text) {
    flex: 0 0 auto;
}

ion-select::part(icon) {
    opacity: 1;
} */