/* Explore Header style */
.explore-header {
  background-color: #1C345A;
  padding: 20px 5px 5px 5px;
  border-radius: 0px 0px 25px 25px;
}

.explore-header ion-searchbar {
  margin-top: 10px;
  border-radius: 0px 0px 25px 25px;
}

.explore-header .searchbar-input.sc-ion-searchbar-md {
  border-radius: 15px;
}

/* Explore Filter Footer Style */
.explore-filter-footer {
  background-color: #1C345A;
  border-radius: 25px 25px 0px 0px;
  padding: 10px;
  /* position: absolute; */
  bottom: 0;
}

.explore-filter-footer ion-row {
  align-items: center;
  justify-content: center;
}

.explore-filter-footer ion-text {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 5px;
}

ion-modal {
  --height: calc(100% - (var(--ion-safe-area-top) + 60px));
}

/* Explore Home page */
.ion-page {
  background-color: #F5F5F5;
}

#container {
  padding: 10px;
  background-color: #F5F5F5;
  min-height: 100vh;
}

ion-item {
  --inner-border-width: 0 0 0px 0;
  --min-height: 0px;
}

.explore-slider {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: nowrap;
}

.explore-slider ion-card {
  min-width: 250px;
  border-radius: 15px;
}

.explore-title {
  font-size: 30px;
  font-weight: bold;
  color: #1c345a;
}

.explore-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #1c345a;
  font-weight: bold;
}

ion-card {
  border-radius: 10px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
  background: #ffffff
}

.search-tabs-bar {
  position: absolute;
  flex-wrap: nowrap;
}

.search-tabs {
  border-radius: 15px;
  color: #1c345a;
  font-size: 20px;
  margin-right: 5px;
}

.search-tabs-selected {
  --background: var(--ion-item-background, var(--ion-background-color, #1c345a));
  border-radius: 15px;
  font-size: 20px;
  color: #ffffff;
  margin-right: 5px;
}

.search-results {
  position: relative;
  top: 55px;
}

.search-results-label {
  font-size: 16px;
  color: #1c345a;
}

.search-results-card {
  padding: 10px;
  text-align: left;
  margin-inline: 0px;
}

.search-results-header {
  font-size: 16px;
  font-weight: bold;
  color: #203456;
}

.search-results-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.search-results-center {
  display: grid;
  text-align: left;
  margin-left: 10px;
}

.search-results-center {
  color: #203456;
}

.search-results-center ion-label:last-child {
  color: #606060;
}

.search-results-right {
  display: grid;
  align-items: self-end;
  justify-items: end;
}

.search-results-right ion-label {
  color: #007A00;
  margin-top: 10px;
}

.recent-searches-card ion-item {
  --inner-padding-end: 0px;
}

.recent-searches-title {
  justify-content: space-between;
  align-items: flex-end;
}

.recent-searches-title ion-label {
  font-size: 20px;
  color: #606060;
}

.recent-searches-expand {
  font-size: 16px !important;
  color: #1c345a !important;
}

.recent-searches-card {
  margin-inline: 0px;
}

.recent-searches-card ion-label {
  font-size: 16px !important;
  color: #203456 !important;
  margin-left: 10px;
}

.recommended-pro-card {
  margin-inline: 0px;
}

.recommended-pro-card ion-item {
  --inner-padding-end: 0px;
}

.recommended-pro-card-title {
  margin-bottom: -10px;
}

.recommended-pro-card-title ion-label {
  font-size: 16px !important;
  color: #203456 !important;
  font-weight: bold;
}

.recommended-pro-card ion-label {
  font-size: 16px !important;
  color: #203456 !important;
}

ion-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #1c345a;
}

ion-card-content {
  font-size: 16px;
  color: #606060;
}

ion-card ion-item {
  --inner-border-width: 0 0 1px 0;
}

ion-card ion-label h4 {
  font-size: 12px;
  font-weight: 300;
  color: #203456;
  margin-left: 5px !important;
}

ion-card ion-label h2 {
  font-size: 16px;
  color: #203456;
}

ion-card ion-label h6 {
  font-size: 12px;
  color: #606060;
}

ion-card ion-label h3 {
  font-size: 12px;
  color: #007a00;
}

.program-card-footer {
  display: flex !important;
  justify-content: space-between;
}

.program-card-footer h1 {
  font-size: 18px;
  color: #606060;
}

/* Nothing Found Page Style */
.nothing-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nothing-title {
  padding: 60px 60px 0px 60px;
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  color: #1c345a;
}

.nothing-description {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: #1c345a;
}

.search-result-institutions {
  font-size: 16px;
  color: #00aeef;
}

/* Program Detail Modal */
.program-detail-modal {
  --border-radius: 25px 25px 0px 0px;
}

.program-detail-modal .ion-page {
  padding: 20px 0px 0px 0px;
}

.pro-detail-component {
  padding: 0px 10px 0px 10px;
  --background: #F5F5F5;
}

.pro-detail-title {
  text-align: center;
}

.pro-detail-title ion-label {
  font-size: 30px;
  font-weight: bold;
  color: #1c345a;
}

.pro-detail-title hr {
  border-bottom: 1px solid #BCBCBC;
  width: 85%;
}

.pro-detail-card-container {
  padding: 10px;
}

.pro-detail-uni {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-wrap: nowrap;
}

.pro-detail-uni ion-img {
  width: 80px;
}

.pro-detail-uni ion-label {
  font-size: 26px;
  color: #1c345a;
  margin-left: 10px;
}

.pro-detail-card ion-img {
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.pro-detail-card ion-label {
  text-align: left;
}

.upcoming-intakes-title {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.upcoming-intakes-title ion-label {
  font-size: 26px;
  color: #1c345a;
  margin-left: 10px;
}

.upcoming-intakes {
  padding: 10px;
}

.upcoming-intakes ion-item {
  border-radius: 15px;
  margin: 0px 10px 20px 0px;
}

.upcoming-intakes ion-label {
  font-size: 20px !important;
  color: #1c345a !important;
}

.pro-detail-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  background: #1C345A;
  border-radius: 25px 25px 0px 0px;
}

.pro-detail-footer ion-img {
  width: 25px;
  height: 25px;
}

.pro-detail-footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pro-detail-footer ion-label {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}

.pro-detail-footer ion-button {
  border-radius: 15px;
  background: #00aeef;
  background: linear-gradient(-73deg, #00aeef 0.00%, #0076a2 100.00%);
  color: #ffffff;
  text-transform: none;
  margin-top: 0px;
  padding: 10px 0px;
}

.pro-detail-card h2 {
  font-size: 20px;
  font-weight: bold;
  color: #203456;
}

.pro-detail-card p {
  font-size: 20px;
  color: #606060;
}

/* University Modal */
.uni-detail-component {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #F5F5F5;
}

.uni-detail-modal {
  --border-radius: 25px 25px 0px 0px;
}

.uni-detail-modal .ion-page {
  padding: 20px 0px 0px 0px;
  justify-content: flex-start;
}

.uni-detail-title {
  text-align: center;
}

.uni-detail-title ion-label {
  font-size: 20px;
  color: #00aeef;
}

.uni-detail-title hr {
  border-bottom: 1px solid #BCBCBC;
  width: 85%;
}

.uni-detail {
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
}

.uni-detail ion-label {
  font-size: 26px;
  color: #1c345a;
  margin-left: 10px;
}

.uni-detail-card {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 5px;
}

.uni-description {
  padding: 10px;
  position: relative;
}

.uni-description-text ion-label {
  font-size: 20px;
  color: #1c345a;
  position: relative;
  z-index: 1;
}

.uni-description-text {
  padding: 10px;
}

.uni-description-text div {
  font-size: 16px;
  color: #606060;
  position: relative;
}

.uni-description::after {
  content: "";
  display: block;
  position: absolute;
  top: 85px;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0.00%, #f5f5f5 100.00%);
  pointer-events: none;
  /* To ensure the overlay doesn't interfere with any clicks */
}

.btn-uni-detail {
  background: #00AEEF;
  color: #ffffff;
  font-size: 20px;
  text-transform: none;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
  height: 50px;
}

.btn-uni-detail ion-icon {
  color: #ffffff;
  font-size: 24px;
}

.uni-detail-list-card {
  padding: 10px;
}

.uni-detail-list-card ion-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #203456;
}

.uni-detail-list-card ion-label {
  font-size: 20px;
  color: #606060;
}

.uni-detail-list-card ion-row {
  justify-content: space-between;
}