html * {
    font-family: "Calibri" !important;
}

#container {
    padding: 10px;
    background-color: #F5F5F5;
}

#container a {
    text-decoration: none;
}

.card-container {
    text-align: center;
    border-radius: 25px;
    padding: 10px 0px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
}

/* Profile page style */
.profile-header {
    padding-top: 0px;
    padding-bottom: 0px;
}

.profile-header-item {
    --border-style: none;
    margin-left: -16px;
}

.profile-header img {
    width: 43px;
    height: 43px
}

.profile-name {
    display: flex;
    justify-content: space-between;
}

.profile-name b {
    color: #203456;
    font-size: 26px;
    font-weight: bold;
}

.profile-bio {
    color: #1C345A;
    font-size: 20px;
}

.accordion-icon {
    transform: rotate(270deg);
    margin-top: 10px;
}

.btn-profile {
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #1C345A;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    text-transform: none;
    --ripple-color: transparent;
}
.profile-descrption {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-list {
    align-items: center;
    height: 25px;
}

.card-list ion-img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.card-list ion-label {
    font-size: 16px;
}

.border-bottom {
    border-bottom: 1px solid #BCBCBC;
}

.ion-align-items {
    align-items: center;
    color: #203456;
    margin-left: 5px;
}

.ion-align-items p {
    margin-left: 10px;
    color: #203456;
}

.legal-card-container {
    border-radius: 6px;
    text-align: center;
    padding: 5px 0px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
}

.legal-label {
    margin: 20px 10px;
    font-size: 20px;
    color: #203456;
}

.card-list-img-legal {
    margin-left: -10px;
    margin-right: 10px;
}

.logout-label {
    margin: 20px 10px 10px 10px;
}

.logout-label b {
    font-size: 20px;
    text-decoration: underline;
    color: #203456;
}

/* Action sheet style */
ion-select {
    opacity: 0;
}

ion-backdrop {
    background-color: rgba(1,1,1,0);
}

.action-sheet-group.sc-ion-action-sheet-md:first-child {
    padding-bottom: 50px;
    margin-bottom: -50px;
}

.action-sheet-title.sc-ion-action-sheet-md {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #1C345A;
}

.action-sheet-icon.sc-ion-action-sheet-md {
    font-size: 20px;
}

.action-sheet-group.action-sheet-group-cancel {
    background-color: #f5f5f5;
    height: 80px;
}

.action-sheet-group.sc-ion-action-sheet-md {
    border-radius: 25px 25px 0px 0px;
}

/* .action-sheet-button.sc-ion-action-sheet-md span:first-child {
    background-image: url("/assets/img/icons/icon-currency-euro.svg");
    background-repeat: no-repeat;
    display: inline-table;
    padding-left: 20px;
} */

.action-sheet-selected.sc-ion-action-sheet-md span {
    color: #00AEEF;
    background-image: url("/assets/img/icons/icon-feather-check.png");
    background-position-x: right;
    background-repeat: no-repeat;
    display: inline-table;
    font-size: 20px;
    font-weight: bold;
}

.action-sheet-group.action-sheet-group-cancel button {
    width: 40%;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    background: #f5f5f5;
}

.action-sheet-group.action-sheet-group-cancel span {
    justify-content: center;
}

.action-sheet-selected.sc-ion-action-sheet-md {
    font-size: 25px;
}

/* Footer style */
ion-tabs {
    background-color: #F5F5F5;
}

ion-tab-bar {
    border-radius: 25px 25px 0px 0px;
}

ion-tab-button {
    background: #1C345A !important;
}

.footer-ion-label {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}